<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Comments</title>
</head>
<body>
	{% if commentsCount > 0 %}
        {% for comment in comments %}
            <div>{{ comment.username }} {{ comment.time_create }} {{ comment.text }}</div>

            {% for cresponse in comment.comment_set.all %}
                {% include "main/cresponse.html" %}
            {% endfor %}
        {% endfor %}
	{% else %}
		<h1>Comments has not been found</h1>
	{% endif %}
</body>
</html>